:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  /* font-family: 'Outfit', sans-serif;
  font-family: 'Young Serif', serif; */
}

body{
  background-color: var(--Eggshell);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  padding: 2.5rem;
  border-radius: 1rem;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main--image{
  width: 100%;
  border-radius: .5rem;

}

.main--header{
  font-family: 'Young Serif', serif;
  margin: 0;
  font-weight: normal;
  font-size: 2.5rem;
}

.main--text{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;

}

.main--preparation{
  background-color: var(--Rose-White);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1.5rem;
  border-radius: .6rem;
  font-family: 'Outfit', sans-serif;
}

.main--preparation > h4{
  margin: 0;
  color: var(--Dark-Raspberry);
}

.main--unordered-li{
  margin: 0;
  padding: 5px 20px ; /*listing dots under header*/
  line-height: 2rem;
}

.main--preparation li{
  margin: 0;
  padding-left: 1rem;
}

.main--preparation li::marker{
  color: var(--Dark-Raspberry);
  font-size: 13px;
  display: flex;
  
}

.main--ingredients{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-family: 'Outfit', sans-serif;

}

.main--title{
  color: var(--Nutmeg);
  font-family: 'Young Serif', serif;
  font-weight: 400;
  margin: 0;
}

.main--instructions{
  font-family: 'Outfit', sans-serif;

}

.main--nutrition{
  font-family: 'Outfit', sans-serif;

}

.main--table{

}

.main--nut-header{

}

.main--nut-info{

}

.attribution {
  font-size: 11px;
  text-align: center;
  position:fixed;
  bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}